# This is a basic workflow to help you get started with Actions

name: bootcamp-practice2020

# Controls when the action will run. 
on:
  push:
    branches: [ master ]

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node-version }}       
      - name: install surge
        run: npm install --global surge
      - name: Run surge
        run: surge ./build http://bootcamp_haMzamushtaq.surge.sh/ --token ${{secrets.bootcamp_surge_token}}
